@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* This code below is used for the background color scheme for when your device
is in dark mode. Work on later for if you want a dark color scheme.  */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

/* Applying padding to the custom rule for our main content so that the header and footer content don't overlap with it */
.flex-min-screen-center {
  @apply min-h-screen flex flex-col items-center p-24;
  padding-top: 4rem; 
  padding-bottom: 4rem; 
}

html {
  scroll-behavior: smooth;
}

